
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css  %}
    {% bootstrap_javascript  %}
</head>
<body>
    
    <div class="container-fluid  w-50 ">
        <h1> Details </h1>
        <h4> title of skill :    {{ skillInfo.name}} </h4>

          <p> level of skill =>  {{ skillInfo.level_skill}} / 100   </p>
                      
                  <form action={% url 'allSkills' %} method="GET">
                    <button   type="submit" class="btn btn-outline-info rounded-5  align-self-end    ">back to home  </button>
                  </form>

        </div>
        </div>
</body>
</html>