    
    {% load static %}
    
    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
        <div class="container">

            
          <div class="section-title">
            <h2>Skills</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                <!-- ======= button to add skills======= -->
            <form action={% url 'addSkills' %} method="GET">
              <button   type="submit" class="btn btn-outline-info rounded-5  align-self-end    ">Skills <i class="bi bi-file-earmark-plus"></i> </button>
            </form>
            
            <form action={% url 'allSkills' %} method="GET">
              <button   type="submit" class="btn btn-outline-secondary rounded-5"> MORE <i class="bi bi-three-dots"></i>  </button>
            </form>

          </div>
  
          <div class="row skills-content  ">
  
            <div class="col-lg-6" data-aos="fade-up">
    
              {% for skill in  list_skills|slice:":3" %}
              
              <div class="progress">
                <span class="skill"> {{skill.name}} <i class="val"> {{skill.level_skill}} </i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow={{skill.level_skill}} aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div> 
              
              {% endfor %}
              
   
            </div>
  
             <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              {% for skill in  list_skills|slice:"3:6" %}
              
              <div class="progress">
                <span class="skill"> {{skill.name}} <i class="val"> {{skill.level_skill}} </i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow={{skill.level_skill}} aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div> 
              
              {% endfor %}


            </div> 
            

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              {% for skill in  list_skills|slice:"6:9" %}
              
              <div class="progress">
                <span class="skill"> {{skill.name}} <i class="val"> {{skill.level_skill}} </i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow={{skill.level_skill}} aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div> 
              
              {% endfor %}


            </div> 

  
          </div>
  
        </div>
      </section><!-- End Skills Section -->




      
    <!-- Vendor JS Files -->
    <script src={% static "assets/vendor/purecounter/purecounter_vanilla.js" %} ></script>
    <script src={% static "assets/vendor/aos/aos.js" %} ></script>
    <script src={% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %} ></script>
    <script src={% static "assets/vendor/glightbox/js/glightbox.min.js" %} ></script>
    <script src={% static "assets/vendor/isotope-layout/isotope.pkgd.min.js" %} ></script>
    <script src={% static "assets/vendor/swiper/swiper-bundle.min.js" %} ></script>
    <script src={% static "assets/vendor/typed.js/typed.umd.js" %} ></script>
    <script src={% static "assets/vendor/waypoints/noframework.waypoints.js" %} ></script>
    <script src={% static "assets/vendor/php-email-form/validate.js" %} ></script>
  
    <!-- Template Main JS File -->
    <script src={% static "assets/js/main.js" %}></script>