{% load static %}

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
        <div class="container">
  
          <div class="section-title">
            <h2>Testimonials</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
          </div>
          
          <form action={% url 'allTestimonials' %} method="GET">
            <button   type="submit" class="btn btn-info rounded-5 text-white "> EDIT <i class="bi bi-three-dots"></i>  </button>
          </form>
  
          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
  

              {% for testimonial1 in list_testimonials %}

              <div class="swiper-slide">
                <div class="testimonial-item" data-aos="fade-up">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>

                    {{ testimonial1.self_description }}
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img src="media/{{ testimonial1.image }}" class="testimonial-img w-25 h-25" alt="">
                  <h3>{{ testimonial1.name }} </h3>


                  {% if testimonial1.jobTitle2 %}
                  <h4>{{ testimonial1.jobTitle }} &amp; {{ testimonial1.jobTitle2 }}</h4>
                  {% else %}
                  <h4>{{ testimonial1.jobTitle }}</h4>
                  {% endif %}                
                </div>
              </div><!-- End testimonial item -->

              {% endfor %}


              </div><!-- End testimonial item -->
  
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section><!-- End Testimonials Section -->